.search {
  display: flex;
  margin: 10px 0;
  &__input {
    border: 1px solid grey;
    border-radius: 5px;
  }
  &__button {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
    margin: 0 5px;
  }
}
