<div class="course-item">
  <div class="course-item__info">
    <div class="course-item__header">
      <div class="course-item__title">{{item.title}}</div>
      <div class="course-item__time">
        <span>{{item.duration}} min</span>
        <span>{{item.creationDate.toUTCString()}}</span>
      </div>
    </div>
    <div class="course-item__description">{{item.description}}</div>
  </div>
  <div class="course-item__controls">
    <div class="course-item__controls-button">Edit</div>
    <div class="course-item__controls-button" (click)="onDeleteCourseClick()">Delete</div>
  </div>
</div>

