<div class="course-item">
  <div class="course-item__info">
    <div class="course-item__header">
      <div class="course-item__title">{{courseItem.title}}</div>
      <div class="course-item__time">
        <span>{{courseItem.duration}} min</span>
        <span>{{courseItem.creationDate | date:'shortDate' }}</span>
      </div>
    </div>
    <div class="course-item__description">{{courseItem.description}}</div>
  </div>
  <div class="course-item__controls">
    <div class="course-item__controls-button">Edit</div>
    <div class="course-item__controls-button" (click)="onDeleteCourseClick()">Delete</div>
  </div>
</div>

