.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  &__icon {
    font-size: 24px;
  }
  &__text {
    font-size: 24px;
  }
}
